* {
  margin: 0;
  padding: 0;
}

h1,
p,
a {
  font-family: proxima-nova, sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #3e4859;
}

a {
  list-style-type: none;
  text-decoration: none;
}
